.contact{
    text-align: center;
    letter-spacing: 1rem;
}
.contacts{
    font-size: large;
    font-weight: bolder;
}
.subcontacts{
    color: palevioletred;
    font-size: .9rem;
}
#btn{
    border: 4px solid palevioletred;
}
.button{
    border: 5px solid white;
}