.qualities{
    padding: 4%;
    font-size: 80px;
    font-weight: bolder;
}
.note{
    color: palevioletred;
    text-align: center;
    font-weight: bold;
    /* font-family:cursive; */
}
.notes{
    color: black;
}
hr{
    width:100%;
    border:double 1.7px black;
    color: black;
}
