.container-footer{
    height: 10%;
}
.footer-logo{
   width: 10%;
}
.respons{
    display: none;
}
.img-logo{
    width: 40%;
}
.img-logo:hover{
    background-color: palevioletred;
}
.img-foot{
    gap: -2rem;
    line-height: .1rem;
}
.lineh{
    line-height: 2.5rem;
}
.rowt{
    display: flex;
     gap:2rem; 
    justify-content: space-between;
}
.head-foot{
    font-style: italic;
    text-decoration: overline 2px solid palevioletred;
    font-size: larger;
    font-weight: bolder;
}
.footer-copyright{
    text-align: center;
    text-decoration: underline 2px solid palevioletred;
}
.list-foot{
    padding: .5rem;

}

@media only screen and (max-width: 1400px){
    .lineh{
        display: none;
    }
    .normal{
        display: none;
    }
    .respons{
        display: flex;
    }
    .footer-logo{
        margin-left: 45vw;
    }
    .exactf{
        background-color: black;
        color: white;
    }
    .img-logo{
        width: 70%;
    }
    .img-foot{
        border: 3px solid palevioletred;
        background-color: white;
        padding: 1rem;
    }

}