.rel{
    position: relative;
}
.navbar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20vw;
    background-color: black;
    /* height: 480vh;  */
    min-height: 100vh;
    text-align: center;
    font-weight: bolder;
    overflow: hidden;
}
.big-screen{
    height: 100%;
    width: 20vw;
    position: fixed;
    background-color: black;
}
.owner{
    text-align: center;
    color: white;
    /* padding: 2rem; */
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
   line-height: 4rem;
}
.socials{
    display: flex;
    gap: 2rem;
    font-weight: lighter;
    font-style: italic;
}
.pages{
    color: palevioletred;
}
.page{
    color: white;
}
.page :hover{
    color: palevioletred;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .navbar{
        width: 400px;
        display: flex;
        justify-content: center;
    }
    .big-screen{
        position: static;
        width: 400px;
    }
    .scroll{
        display: none;
    }
}
@media screen and (max-width:600px) {
    .navbar{
        width: 100vh;
    }
}

/* @media screen and (max-width: 1200px) {
   .navbar{
    display: none;
   }
} */