.contact{
    text-align: center;
    letter-spacing: 1rem;
}
.contacts{
    font-size: large;
    font-weight: bolder;
}
.subcontacts{
    color: black;
    text-decoration: underline 5px solid palevioletred;
    font-size: .9rem;
}
#btn{
    padding: 10px;
    font-weight: bold;
}
.button{
    border: 10px solid white;
}
.name{
    width: 25vw;
}
.check{
    line-height: 2rem;
}
