.card{
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 3rem;
}
.first-card{
  height:100%;
  width: 15vw;
  padding: 2rem;
  background-color: black;
  border: 2px solid black;
  border-top-right-radius: 5rem;
  transition: transform 0.5s;
  color: white;
  text-align: center;
}
.card-content1 {
  transition: all 200ms ease-in-out;
}

.card_container:hover>.card-content1 {
  height: 100%;
}
.card-title1{
  font-size: 1.5rem;
}

.card-button1{
  font-size: 1rem;
  padding: 0.5rem;
  color:black;
  background-color: white;
  border: 3px solid palevioletred;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  transition: transform 0.3s ease;
}
.card-button1:hover{
  transform: translateY(-10px);
}
.first-card:hover{
  transform: scale(1.1);
}

@media only screen and (max-width: 1400px){
 
  .first-card{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 0;
    width: 35vw;
  }
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-title1{
    font-size: 1rem;
    font-style: italic;
    font-weight: bolder;
  }
  .card-description1{
    display: none;
  }
}