*{
  box-sizing: border-box;
}
body{
  background-color: white;
  width: 100vw;
}
.entire{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  /* width: 100vw; */
}
/* .sidenav{
  display: none;
} */

@media screen and (max-width: 1000px){
  .entire{
    flex-direction: column;
  }
}