*{
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  background-color: black;
  color: white;
  width: 100vw;
}
.entire{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px){
  .entire{
    flex-direction: column;
  }
}