*{
  box-sizing: border-box;
}
body{
  background-color: white;
}
.entire{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100vw;
}
/* .sidenav{
  display: none;
} */

@media screen and (max-width: 1400px){
  .entire{
    /* width: auto; */
    /* justify-content: space-evenly; */
    flex-direction: column-reverse;
    /* display: block; */
  }
}